<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-11 col-lx-11">
    <h1>
      <small>Sites</small>
    </h1>
  </div>
  <div class="col-xs-1 col-md-1 col-lx-1">
    <p class="text-right">
      <%= link_to('<button type="button" class="btn btn-primary btn-sm">Update from CMDB+</button><br />'.html_safe, {action: "update_from_cmdb"}) %>
      <small>Version</small> <%= @cmdb_ver %>
      <br/>
      <small>Count</small> <%= @sites.count %>
    </p>
  </div>
</div>

<table class="table table-striped table-condensed">
  <thead>
  <tr>
    <th>Name</th>
  </tr>
  </thead>

  <tbody>
  <% @sites.each do |site| %>
      <% d = site.cmdb %>
      <tr>
        <td><%= link_to d[:name], "/cmdb/sites/#{d[:infrid]}" %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
